<% include ../partials/header %>

<div class="container">        
<h1>Edit Pesanan </h1>

<form action="/admin/order/<%=order._id%>?_method=PUT" method="POST">
    <table class="table">
        <tr>
            <% menus.forEach(function(menu){%>
                <th><%=menu.name.substring(0,3).toUpperCase()%></th>
                <%});%>
        </tr>
        <tr>
            <% menus.forEach(function(menu){%>
                <td><%=menu.emoji%></td>
            <%});%>
        </tr>
        <tr>
            <% menus.forEach(function(menu){%>
                <td><%=menu.stock%></td>
            <%});%>
        </tr>
        <tr>
            <td colspan="100"><strong>YOUR ORDER</strong></td>
        </tr>
        <tr>
            <% menus.forEach(function(menu){%>
                <td>
                <input class="orderDetail" type="number" name="orderDetail[<%=menu.name%>]" id="<%=menu.name%>" value="<%=order.orderDetail[menu.name]%>">
                </td>
            <%});%>
        </tr>
    </table>
      
    <p>Info pemesan :</p>
    <input type="text" name="order[custName]" placeholder="Nama Pemesan/Supplier" required value="<%=order.custName%>">
    <input type="text" name="order[orderType]" placeholder="skema penjualan" required value="<%=order.orderType%>">
    <input type="tel" name="order[phoneNum]" placeholder="No telp" required value="<%=order.phoneNum%>"> 
    <input type="date" name="order[orderDate]" placeholder="Untuk Hari" required value="<%=order.orderDate%>">
    
    <!--
        custName: String,
        orderType: String,
        phoneNum: Number,
        isBuying: Boolean,
        orderDate: Date,
        orderCode: String,
        orderStatus: String,
        orderDetail: Array -->
        
        <button class="btn btn-primary">Order!</button>
    </form>
</div>