<% include ../partials/header %>

<div class="container">
    <h1>Order Detail Page</h1>
        <div class="thumbnail">
            <h2><%=order.custName%></h2>
            <h4><%=order.phoneNum%></h4>
            <p><%=order.orderDate%></p>
            <p><%=order.orderType%></p>

            <table class="table">
                <tr>
                    <% menus.forEach(function(menu){%>
                    <th style="background-color: <%=menu.color%>;"><%=menu.name.substring(0,3).toUpperCase()%></th>
                    <%});%>
                </tr>
                <tr>
                    <% menus.forEach(function(menu){%>
                        <td><%=menu.emoji%></td>
                    <%});%>
                </tr>
                <tr>
                    <% menus.forEach(function(menu){%>
                        <td><%=order.orderDetail[menu.name]%></td>
                    <%});%>
                </tr>
            </table>
            <p>Status :</p>
            <%switch (order.orderStatus) {
                case 0 :%>
                    <p>Menunggu Konfirmasi</p>
                    <form action="/admin/order/<%=order._id%>/status?_method=PUT" method="POST">
                        <button class="btn btn-warning">Konfirmasi dan siapkan</button>
                    </form>
                    <%break;%>
                <%case 1 :%>
                    <p>Pesanan sedang diproses - Stok sudah berubah</p>
                    <!-- <a href="#" class="btn btn-primary">Kirim pesanan</a> -->
                    <form action="/admin/order/<%=order._id%>/status?_method=PUT" method="POST">
                        <button class="btn btn-primary">Kirim pesanan</button>
                    </form>
                    <%break;%>
                <%case 2 :%>
                    <p>Pesanan terkirim</p>
                    <!-- <a href="#" class="btn btn-primary">Konfirmasi Selesai</a> -->
                    <form action="/admin/order/<%=order._id%>/status?_method=PUT" method="POST">
                        <button class="btn btn-success">Konfirmasi Selesai</button>
                    </form>
                    <%break;%>
                <%case 3 :%>
                    <p>Selesai</p>
                    <%break;%>
            
                <%default:%>
                    <p>Err: No Status</p>
                    <%break;%>
            <%}%>
            <form action="/admin/order/<%=order._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Hapus Pesanan</button>
            </form>

            <a class="btn btn-default" href="/admin/order/<%=order._id%>/edit">Edit</a>

        </div>
    
</div>

<% include ../partials/footer %>