<% include ../partials/header %>
<% var url = transactionType %>

<div class="container">        
<h1>Edit <%=url%> </h1>

<form action="/admin/<%=url%>/<%=data._id%>?_method=PUT" method="POST">
    <table class="table">
        <tr>
            <% menus.forEach(function(menu){%>
                <th><%=menu.name.substring(0,3).toUpperCase()%></th>
                <%});%>
        </tr>
        <tr>
            <% menus.forEach(function(menu){%>
                <td><%=menu.emoji%></td>
            <%});%>
        </tr>
        <tr>
            <% menus.forEach(function(menu){%>
                <td><%=menu.stock%></td>
            <%});%>
        </tr>
        <tr>
            <td colspan="100"><strong>YOUR ORDER</strong></td>
        </tr>
        <tr>
            <% menus.forEach(function(menu){%>
                <td>
                <input class="orderDetail" type="number" name="detail[<%=menu.name%>]" id="<%=menu.name%>" value="<%=data.detail[menu.name]%>">
                </td>
            <%});%>
        </tr>
    </table>
      
    <p>Info pemesan :</p>
    <input type="text" name="query[name]" placeholder="Nama Pemesan/Supplier" required value="<%=data.name%>">
    <%if (transactionType === "order") {%>
        <input type="text" name="query[phoneNum]" placeholder="skema penjualan" required value="<%=data.phoneNum%>">
    <%}%>
    <%
    var dd = data.date.getDate();
    var MM = data.date.getMonth();
    if (MM < 10){MM = "0" + MM;} else {MM = "1" + MM;}
    var yyyy = data.date.getFullYear();
    %>
    <input type="text" name="query[type]" placeholder="skema penjualan" required value="<%=data.type%>">
    <input type="date" name="query[date]" placeholder="Untuk Hari" required value="<%=yyyy + "-" + MM + "-" + dd%>">
    
      
        <button class="btn btn-primary">Submit!</button>
    </form>
</div>

<% include ../partials/footer %>