<% include ../partials/header %>
<% var month = ["Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember"];%>
<% var url = transactionType %>

<div class="container">
    <h1>Daftar <%=url%></h1>

    <% datas.forEach(function(data){%>
        <div class="thumbnail">
            <h2><%=data.name%></h2>
            <%var mm = data.date.getMonth()%>
            <p><%=data.date.getDate() + " " + month[mm] + " " + data.date.getFullYear()%></p>
            <p><%=data.type%></p>

            <table class="table">
                <tr>
                    <% menus.forEach(function(menu){%>
                    <th style="background-color: <%=menu.color%>;"><%=menu.name.substring(0,3).toUpperCase()%></th>
                    <%});%>
                </tr>
                <tr>
                    <% menus.forEach(function(menu){%>
                        <td><%=menu.emoji%></td>
                    <%});%>
                </tr>
                <tr>
                    <% menus.forEach(function(menu){%>
                        <td><%=data.detail[menu.name]%></td>
                    <%});%>
                </tr>
            </table>
            <p>Status :</p>
            <%switch (data.status) {
                case 0 :%>
                    <p>Menunggu Konfirmasi</p>
                    <%break;%>
                <%case 1 :%>
                    <p>Pesanan sedang diproses</p>
                    <%break;%>
                <%case 2 :%>
                    <p>Pesanan terkirim</p>
                    <%break;%>
                <%case 3 :%>
                    <p>Selesai</p>
                    <%break;%>
            
                <%default:%>
                    <p>Err: No Status</p>
                    <%break;%>
            <%}%>
            <a class="btn btn-primary" href="/admin/<%=url%>/<%=data._id%>">Detail</a>
        </div>
    <%})%>
    
</div>

<% include ../partials/footer %>