<% include ../partials/header %>

<div class="container">        
<h1>Buat Pembelian Baru</h1>

<% var url = transactionType %>
<form action="/admin/<%=url%>" method="POST">
    <table class="table">
        <tr>
            <td>Rasa</td>
            <% menus.forEach(function(menu){%>
                <th style="background-color: <%=menu.color%>;"><%=menu.name.substring(0,3).toUpperCase()%></th>
                <%});%>
        </tr>
        <tr>
            <td></td>
            <% menus.forEach(function(menu){%>
                <td><%=menu.emoji%></td>
            <%});%>
        </tr>
        
        <tr>
            <td>Stok<br>Saat Ini</td>
            <% var menuArr = []; %>
            <% menus.forEach(function(menu){%>
                <td><strong><%=menu.stock%></strong></td>
                <% menuArr.push(menu.stock) %>
            <%});%>
        </tr>
        <!-- Incoming Orders -->
        <tr>
            <% upcomingOrderArr = []; %>
            <td>Pesanan<br>Customer</td>
            <% upcomingOrders.forEach(function(upcomingOrder){%>
                <td style="color: red"><%=upcomingOrder%></td>
                <% upcomingOrderArr.push(upcomingOrder) %>
            <%});%>
        </tr>

        <!-- Incoming Purchases -->
        <tr>
            <td>Stok<br>Akan Datang</td>
            <% upcomingPurchaseArr = []; %>
            <% upcomingPurchases.forEach(function(upcomingPurchase){%>
                <td><%=upcomingPurchase%></td>
                <% upcomingPurchaseArr.push(upcomingPurchase) %>
            <%});%>
        </tr>

        <!-- Next Stock -->
        <tr>
            <td>Next Stock</td>
            <% 
            var nextStocks = [];
            for(i=0; i < menuArr.length; i++){
                var stock = menuArr[i] - upcomingOrderArr[i] + upcomingPurchaseArr[i];
                nextStocks.push(stock);
            }
            nextStocks.forEach(function (nextStock) { %>
                <td><strong><%= nextStock %></strong></td>
            <% }); %>
        </tr>

        <tr>
            <td><strong>Pesanan Anda :</strong></td>
            <% menus.forEach(function(menu){%>
                <td>
                <input class="orderDetail" type="number" name="detail[<%=menu.name%>]" id="<%=menu.name%>">
                </td>
            <%});%>
        </tr>
    </table>
      
    <p>Info pemesan :</p>
    <input type="text" name="query[name]" placeholder="Nama Pemesan/Supplier" required>
    <%if(transactionType === "order"){%>
    <input type="text" name="query[phoneNum]" placeholder="No Telefon" required>
    <%} else if(transactionType === "purchase"){%>

    <%}%>
    <select name="type" required>
        <%schemas.forEach(function(schema){%>
            <option value="<%=schema.name%>"><%=schema.name%> - <%=schema.price%></option>
        <%});%>
    </select>
    <input type="date" name="query[date]" placeholder="Untuk Hari" required>
    
        <button class="btn btn-primary">Submit!</button>
    </form>
</div>

<% include ../partials/footer %>