<% include ../partials/header %>

<div class="container">
    <h1>Purchase Index Page</h1>

    <% purchases.forEach(function(purchase){%>
        <div class="thumbnail">
            <h2><%=purchase.supplierName%></h2>
            <%var mm = purchase.purchaseDate.getMonth()%>
            <p><%=purchase.purchaseDate.getDate() + " " + month[mm] + " " + purchase.purchaseDate.getFullYear()%></p>
            <p><%=purchase.purchaseType%></p>

            <table class="table">
                <tr>
                    <% menus.forEach(function(menu){%>
                    <th style="background-color: <%=menu.color%>;"><%=menu.name.substring(0,3).toUpperCase()%></th>
                    <%});%>
                </tr>
                <tr>
                    <% menus.forEach(function(menu){%>
                        <td><%=menu.emoji%></td>
                    <%});%>
                </tr>
                <tr>
                    <% menus.forEach(function(menu){%>
                        <td><%=purchase.purchaseDetail[menu.name]%></td>
                    <%});%>
                </tr>
            </table>
            <p>Status :</p>
            <%switch (purchase.purchaseStatus) {
                case 0 :%>
                    <p>Menunggu Konfirmasi</p>
                    <%break;%>
                <%case 1 :%>
                    <p>Pesanan sedang diproses</p>
                    <%break;%>
                <%case 2 :%>
                    <p>Pesanan terkirim</p>
                    <%break;%>
                <%case 3 :%>
                    <p>Selesai</p>
                    <%break;%>
            
                <%default:%>
                    <p>Err: No Status</p>
                    <%break;%>
            <%}%>
            <a class="btn btn-primary" href="/admin/purchase/<%=purchase._id%>">Detail</a>
        </div>
    <%})%>
    
</div>

<% include ../partials/footer %>